// sass-lint:disable empty-line-between-blocks, clean-import-paths
@import 'custom/colors';
@import 'custom/typo';
@import 'modules/_nav';
@import 'modules/_product';
@import 'modules/_slider';

//reset styles
* {
    margin: 0;
    padding: 0;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span,
// a {
//     font-family: $font-primary;
// }

body {
    max-width: 100%;
    overflow: hidden;
}

//others
.bkn-close {
    font: 300 20px/20px $font-primary;
    position: absolute;
    right: 22px;
    top: 10px;
    &:hover {
        cursor: pointer;
    }
}
