// custom books slider
$cl-one: #efc531;
$cl-two: #db3f60;
$cl-three: #d1a0f0;
$cl-four: #a0a495;
$cl-five: #a795ff;
// main colors
$cl-black: #000;
$cl-white: #fff;
//greys
$cl-greyB5: #b5b5b5;
$cl-grey28: #282828;
$cl-grey86: #868686;
