nav {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    .bkn-nav_cat {
        position: relative;
        flex: 1;
        .bkn-nav_catBtn {
            width: 100%;
            display: inline-block;
            z-index: 11;
            background: $cl-white;
            p {
                color: $cl-greyB5;
                font-family: $font-primary;
                font-size: 16px;
                font-weight: 300;
                transition: .3s;
                &:hover {
                    color: $cl-grey86;
                    cursor: pointer;
                }
            }
            &.is-active {
                .icon-angle-down {
                    &::before {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .bkn-nav_catList {
        position: absolute;
        background: $cl-white;
        padding: 12px 20px 20px 16px;
        width: 100px;
        left: 14px;
        transform: translateY(-220px);
        transition: .5s;
        &.is-open {
            transform: translateY(25px);
            z-index: 1;
        }
        li {
            list-style: none;
            padding: 5px 0 0 5px;
            a {
                text-decoration: none;
                color: $cl-grey86;
                font-family: $font-primary;
                font-weight: 300;
            }
        }
    }
    .bkn-nav_logo {
        font-family: $font-primary;
        color: $cl-grey28;
        font-size: 20px;
        flex: 3;
        text-align: center;
        span {
            font-weight: 700;
        }
    }
    .bkn-nav_bar {
        flex: 1;
        text-align: right;
        a {
            font-family: $font-primary;
            font-weight: 300;
            color: $cl-greyB5;
            text-decoration: none;
            font-size: 16px;
            padding-right: 20px;
            transition: color .3s;
            &:hover {
                color: $cl-grey86;
            }
        }
        span {
            color: $cl-greyB5;
            transition: color .3s;
            &:hover {
                color: $cl-grey86;
                cursor: pointer;
            }
        }
    }
    .bkn-nav_barMenu {
        box-sizing: border-box;
        background: $cl-white;
        width: 300px;
        position: absolute;
        right: -300px;
        // transform: translateX(-300px);
        top: 47px;
        bottom: 0;
        z-index: 1;
        padding: 10px;
        transition: right .6s;
        &.is-open {
            right: 0;
            // transform: translateX(0);
        }
    }
}
